@font-face {
    font-family: 'lato-bold';
    src: url('../fonts/Lato/Lato-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'lato-regular';
    src: url('../fonts/Lato/Lato-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato-italic';
    src: url('../fonts/Lato/Lato-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'lato-light';
    src: url('../fonts/Lato/Lato-Light.ttf');
    font-weight: lighter;
    font-style: normal;
}