.footer {
    display: flex;
    align-items: center;
    height: 250px;
    background-color: #f7f7f7;
    justify-content: space-between;
}
.footer--bold {
    font-family: $ff-bold;
}
.footer--italic {
    font-family: $ff-italic;
}
.site-footer--copyright {
    padding-left: 10%;
}
.social-links {
    display: flex;
    align-items: center;
    margin-right: 47%;
    width: 135px;
    height: 35px;
}
.social-links>a {
    display: flex;
    padding-right: 15px;
}
@media(max-width:900px) {
    .footer {
        flex-direction: column;
        height: 150px;
    }
    .site-footer--copyright {
        order: 1;
        padding: 0px 0px 20px 0px;
    }
    .social-links {
        margin: 20px 0px 0px 0px;
    }
}