ul {
    list-style-type:none;
    font-family: $ff-bold;
    font-size: 13pt;
}
a {
    text-decoration: none;
    color: #4d4959;
}
.conteiner_top{
    display: flex;
    justify-content: center;
    position: relative;
}
.top_nav>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    padding: 0px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.top-bg {
    width: 100%;
}