.info {
    min-height: 60px;
    padding: 117px;
    text-align: center;
    background-color: #f7f7f7;
}
.title-info {
    font-family: $ff-bold;
    font-size: 18pt;
    padding: 40px 0px 40px 0px;
}
.main-text {
    font-family: $ff-regular;
    font-size: 13pt;
}