.mail {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 470px;
    width: 100%;
}
.stayon {
    font-family: $ff-italic;
    font-size: 24pt;
    color: #4d4959;
}
.send-mail {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.enter-mail {
    height: 65px;
    width: 400px;
    font-family: $ff-italic;
    font-size: 20pt;
    margin: 10px;
    outline: none;
}
.go {
    height: 70px;
    width: 125px;
    background-color: #64c29e;
    color: #fff;
    font-family: $ff-light;
    font-size: 20pt;
    border: none;
    outline: none;
}
@media (max-width: 600px){
    .send-mail {
        flex-direction: column;
        width: 80%;
    }
    .go, .enter-mail {
        width: 100%;
    }
}