.shop {
    height: 55vh;
    width: 100%;
    display: grid;
    justify-content: center;
    grid: repeat(2, 50%) / repeat(6, 16.66666666675%);
    grid-template-areas:
        "p01 p02 p04 p05 p06 p06"
        "p03 p03 p04 p05 p07 p08";
    transition: .5s linear;
}
.shopimg {
    background-size:cover;
    background-position: center;
}
.img1 {
    grid-area: p01;
    background-image: url(../images/shop-1.png);
}
.img2 {
    grid-area: p02;
    background-image: url(../images/shop-2.png);
}
.img3 {
    grid-area: p03;
    background-image: url(../images/shop-3.png);
}
.img4 {
    grid-area: p04;
    background-image: url(../images/shop-4.png);
}
.img5 {
    grid-area: p05;
    background-image: url(../images/shop-5.png);
}
.img6 {
    grid-area: p06;
    background-image: url(../images/shop-6.png);
}
.img7 {
    grid-area: p07;
    background-image: url(../images/shop-7.png);
}
.img8 {
    grid-area: p08;
    background-image: url(../images/shop-8.png);
}
@media(max-width:1024px) {
    .shop {
        height: 70vh;
        width: 100%;
        display: grid;
        justify-content: center;
        //overflow: hidden;
        grid: repeat(4, 25%) / repeat(4, 25%);
        grid-template-areas:
        "p01 p02 p04 p05"
        "p03 p03 p04 p05"
        "p06 p06 p06 p06"
        "p07 p07 p08 p08";
        transition: .5s linear;
    }
}