.work {
    display: flex;
    flex-wrap: wrap;
}
.bike-1{
    width: 66.5%;
    background:url(../images/bike-1-0.png) no-repeat;
    background-size: cover;
}
.bike-1-main, .bike-2-main, .bike-3-main{
    display: flex;
    height: 600px;
}
.bike-1-logo {
    margin: auto;
    padding: 110px;
    background:url(../images/bike-1-logo.png) no-repeat center;
}
.bike-2-logo {
    margin: auto;
    padding: 110px;
    background:url(../images/bike-2-logo.png) no-repeat center;
}
.bike-3-logo {
    margin: auto;
    padding: 110px;
    background:url(../images/bike-3-logo.png) no-repeat center;
}
.vintage__info, .boriosa__info, .retroBike__info{
    height: 70%;
}
.vintage, .boriosa, .retroBike{
    display: flex;
    flex-direction: column;
    width: 33.5%;
    max-height: 100%;
    text-align: center;
    padding-top: 16px;
}
.retroBike{
    width: 33%;
}
.main-text-bike {
    font-family: $ff-regular;
    font-size: 13pt;
    padding-bottom: 100px;
}
.saddle-1 {
    background:url(../images/saddle-1.png) no-repeat center;
    width: 100%;
    height: 31%;
    background-size: cover;
}
.saddle-2{
    background:url(../images/saddle-2.png) no-repeat center;
    width: 100%;
    height: 31%;
    background-size: cover;
}
.bike-2 {
    width: 66.5%;
    background:url(../images/bike-1-1.png) no-repeat;
    background-size: cover;
}
.bike-3 {
    width: 33.5%;
    background:url(../images/bike-1-2.png) no-repeat;
    background-size: cover;
}
.saddle-3 {
    background:url(../images/saddle-3.png) no-repeat center;
    height: 32%;
    background-size: cover;
}
.bike-3-img {
    width: 33.5%;
}