@import '../../node_modules/normalize.scss/normalize';

@import 'sourse/styles/global/fonts.scss';
@import 'sourse/styles/global/vars.scss';
@import 'sourse/styles/global/sprite.scss';

@import 'sourse/styles/sections/header.scss';
@import 'sourse/styles/sections/info-block.scss';
@import 'sourse/styles/sections/work.scss';
@import 'sourse/styles/sections/twitter.scss';
@import 'sourse/styles/sections/shop.scss';
@import 'sourse/styles/sections/discover.scss';