.footer
    .site-footer--copyright
        span.footer--bold AOD New York <br/>
        span.footer--italic 2250 Lexington Avenue <br/> York, NY 10035  - info@domain.com
    .social-links
        a(href="#")
            img(src="images/twitter-icon-round.png", alt="twitter")
        a(href="#")
            img(src="images/facebook-icon-round.png", alt="facebook")
        a(href="#")
            img(src="images/pinterest-icon-round.png", alt="pinterest")