section.conteiner_top
  .logo1
  img.burger-button(src="images/hamburger-icon.svg", alt="")
  input.burger-button#burger-button(type="checkbox", name="")
  .top_nav
    ul
      li
        a(href="#") ABOUT US
      li
        a(href="#") WORK
      li
        a(href="#")
          .logo
      li
        a(href="#") SHOP
      li
        a(href="#") CONTACT