section.mail
    img.logo(src='images/logo.png' alt='logo')
    .stayon Stay on the saddle!
    .send-mail
        input(type="email" placeholder="  enter your email..").enter-mail
        button(type="submit").go GO