section.work
        .bike-1
            .bike-1-main
                .bike-1-logo
        .vintage
            .vintage__info
                img.frame-icon(src="images/frame-icon.png", alt="chain_icon")
                .title VINTAGE OLIVA
                .main-text-bike Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.
            .saddle-1
        .boriosa
            .boriosa__info
                img.pedals-icon(src="images/pedals-icon.png", alt="pedals-icon")
                .title LA BORIOSA
                .main-text-bike Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.
            .saddle-2
        .bike-2
            .bike-2-main
                .bike-2-logo
        .bike-3
            .bike-3-main
                .bike-3-logo
        .retroBike
            .retroBike__info
                img.pedals-icon(src="images/fork-icon.png", alt="fork-icon")
                .title RETRÒ BIKE - M. HULOT
                .main-text-bike Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived.
            .saddle-3
        img.bike-3-img(src="images/bike-1-3.png", alt="bike-1-3")